@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-height: 3.5rem;

    /* Colors */
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: hsl(250, 60%, 98%);
    --container-color: #fff;
    --shadow: hsla(250, 8%, 35%);

    /* Font */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* Font weight */
    --font-medium: 500;
    --font-bold: 600;

    /* Margins Bottom */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: .1rem;
    --mb-1-5: 1.5rem;
    --mb-2: .2rem;
    --mb-2-5: 2.5rem;
    --mb-3: .3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* Responsive */
@media screen and (max-width: 992px){
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font), serif;
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button,input {
    border: none;
    outline: none;
}

section {
    scroll-margin-top: 80px; /* Adjust based on your navbar height */
}

.first-background {
    background-image:url("../.image-cabin/main-asset/7-asset.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    height: 870px;
}

.second-background {
    background-image:url("../.image-cabin/main-asset/15-asset.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
}

.team-section {
    background-image:url("../.image-cabin/main-asset/17-asset.jpg");
    background-size: cover;
    background-position:  50% -145px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    height: 720px;
}

.container {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.grid {
    display: grid;
}

/* Header & navbar */
.header {
    width: 100%;
    background-color: #a9a9a9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.scroll-header {
    background-color: #a9a9a9;
    box-shadow: 0 1px 4px var(--shadow);
}

.nav_menu {
    position: relative;
}

.nav {
    height: calc(var(--header-height)+ 1.5rem);
    display: flex;
    justify-content: space-evenly;
    column-gap: 3rem;
    padding-top: 10px;
}

.login_toggle,
.nav_toggle,
.nav_my_reservation {
    color: black;
}

.nav_btns {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: auto;
    padding-bottom: 10px;
}

.nav_toggle,
.user_toggle,
.nav_my_reservation {
    font-size: 1.7rem;
    cursor: pointer;
    color: #ffffff;
    margin-right: 5px;
}

/* index toggle */
.login_toggle {
    font-size: 1.7rem;
    color: #ffffff;
    cursor: pointer;
    margin-right: 40px;
}

.tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: white;
    color: saddlebrown;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 22px;
    right: 380px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
}

.login_toggle:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-left: auto;
    font-size: 2rem;
    padding-bottom: 20px;
}

.main-logo {
    padding-top: 5px;
    height: 50px;
}

.nav_link {
    font-weight: var(--font-medium);
    font-size: 1.1rem;
    text-transform: uppercase;
    background-image: linear-gradient(
            to right,
            saddlebrown ,
            saddlebrown 50%,
            #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.nav_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: saddlebrown;
    transform: scaleX(-100%);
    transition: all 0.5s ease-in-out;
}

.nav_link:hover {
    background-position: 0;
    color: saddlebrown;
    -webkit-text-fill-color: saddlebrown;
}

.nav_link.active {
    background-position: 0;
    color: saddlebrown;
    -webkit-text-fill-color: saddlebrown;
    font-weight: 500;
}

.nav_link:hover::after,
.nav_link.active::after {
    width: 100%;
}

.nav_toggle {
    display: none;
}

.nav_book {
    font-weight: var(--font-medium);
    font-size: 1.1rem;
    text-transform: uppercase;
}

.nav_item-book .nav_book {
    background-color: saddlebrown;
    color: white;
    padding: 8px 16px;
    border-radius: 3rem;
    transition: background-color 0.5s ease;
    text-transform: uppercase;
}

.nav_book:hover {
    background-color: #964b00;
}

.responsive {
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    display: none;
}

/* RESERVATION */
.side_reservation {
    position: fixed;
    background-color: #f0f0f0;
    z-index: var(--z-fixed);
    width: 400px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.side_title-center{
    font-size: var(--h2-font-size);
    text-align: center;
    margin: var(--mb-3);
    color: #43302e;
}

.side_close{
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    cursor: pointer;
}

.side_card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.side_title{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);

}

.show-side {
    right: 0;
}
/* Admin */
.admin-icon a{
    margin-top: 5px;
    color: #43302e;
    font-size: 25px;
    cursor: pointer;
    margin-left: 13rem;
}

.admin-icon:hover {
    color: grey;
}

/* Login */
.login {
    position: fixed;
    background-color: #f0f0f0;
    z-index: var(--z-fixed);
    width: 400px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.login_title-center {
    margin-top: 10px;
    font-size: var(--h2-font-size);
    font-weight: 600;
    color: #43302e;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
}

.login_title-center::before,.login_title-center::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0;
    background-color: saddlebrown;
}

.login_title-center:before {
    width: 18px;
    height: 18px;
    background-color: saddlebrown;
}

.login_title-center:after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.login_close {
    font-size: 1.8rem;
    color: var(--title-color);
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    cursor: pointer;
}

.login_form {
    row-gap: 1.5rem;
}

.login_content {
    background-color: var(--container-color);
    border-radius: .5rem;
    padding: .75rem 1rem 0;
    width: 97%;
}

.login_label {
    font-size: var(--small-font-size);
    color: grey;
}

.login_input {
    width: 100%;
    background: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: 0.3rem .5rem .5rem 0;
}

.signup {
    font-size: 14px;
    font-weight: var(--font-medium);
    padding: 3px;
    margin-top: -10px;
    color: rgba(88, 87, 87, 0.822);
}

.signup a{
    font-size: 14px;
    color: saddlebrown;
}

.signup a:hover{
    text-decoration: underline saddlebrown;
}

.show-login {
    right: 0;
}

/* Button */
.button-login input[type="submit"] {
    width: 105px;
    height: 55px;
    background-color: saddlebrown;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center; 
    outline: none;
    transition: background-color 0.3s ease;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    margin-top: -3px;
}

/* Optional: Change color on hover */
.button-login input[type="submit"]:hover {
    background-color: #964b00;
}

/* Register  */
.register-form {
    position: fixed;
    background-color: #f0f0f0;
    z-index: var(--z-fixed);
    width: 400px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.show-register {
    right: 0;
}

.close-register {
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1;
}

.form-register {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 380px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.title-register {
    font-size: var(--h2-font-size);
    font-weight: 600;
    color: #43302e;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title-register::before,.title-register::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0;
    background-color: saddlebrown;
}

.title-register::before {
    width: 18px;
    height: 18px;
    background-color: saddlebrown;
}

.title-register::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}


.message-register, .signin-register {
    color: rgba(88, 87, 87, 0.822);
    margin-left: 5px;
}

.signin-register {
    font-size: 14px;
    font-weight: var(--font-medium);
}

.signin-register a {
    font-size: 14px;
    color: saddlebrown;
}

.signin-register a:hover {
    text-decoration: underline saddlebrown;
}

.flex-register {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form-register label {
    position: relative;
}

.form-register label .input-register {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form-register label .input-register + span {
    position: absolute;
    left: 10px;
    top: 12px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form-register label .input-register:placeholder-shown + span {
    top: 18px;
    font-size: 0.9em;
}

.form-register label .input-register:focus + span,.form-register label .input-register:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form-register label .input-register:valid + span {
    color: green;
}

/* input register main*/
.form-register label .input-register-main {
    width: 315px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form-register label .input-register-main + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form-register label .input-register-main:placeholder-shown + span {
    top: 18px;
    font-size: 0.9em;
}

.form-register label .input-register-main:focus + span,.form-register label .input-register-main:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form-register label .input-register-main:valid + span {
    color: green;
}

/* input register main*/
.submit-register {
    border: none;
    outline: none;
    background-color: saddlebrown;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    width: 105px;
    height: 55px;
}

.submit-register:hover {
    background-color: #964b00;
}

.submit-register:disabled {
    cursor: not-allowed;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.valid-id-register {
    padding: 0 10px 10px 10px;
    color: #43302e;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(105, 105, 105, 0.397);
    width: 310px;
    border-radius: 3px;
}

.valid-id-register p {
    display: inline;
    font-size: 13px;
    color: gray;
    font-weight: normal;
    margin-left: 10px;
}

.id-identifier select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: black;
}

.error-valid-id {
    color: red;
    font-size: 12px;
    display: none;
    z-index: 999999;
    padding-left: 10px;
}

.file-button {
    background-color: transparent;
    color: grey;
    padding: 10px;
    border: 2px solid rgba(105, 105, 105, 0.397);
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    justify-self: center;
    align-self: center;
}

.file-button:hover {
    color: white;
    background-color: #964b00;
}

.file-name {
    padding-left: 5px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.no-file-chosen {
    display: none;
}

/* Terms & Conditions */
.terms-container {
    width: 310px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 10px;
}
.terms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.terms-header h2 {
    color: #43302e;
    font-size: 1rem;
    font-weight: 600;
}


.terms-checkbox label{
    font-size: 13px;
    padding: 5px;
}

input[type="checkbox"] {
    accent-color: saddlebrown;
}

.modal-terms-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 1rem;
}

.modal-terms-contents{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    padding: 5px 20px 20px 20px;
}

.modal-terms-contents h2 {
    text-align: center;
}

.close-terms {
    float: right;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    background-color: #8B4513;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

.modal-terms-main {
    max-height: 300px;
    overflow-y: auto;
}
.modal-terms-contents h2 {
    color: #43302e;
    font-weight: 600;
    padding: 10px 10px 5px 0;
    border-bottom: 5px solid saddlebrown;
}

.modal-terms-main h3 {
    font-size: 15px;
    margin: 15px 0 8px;
    color: #000000;
}

.modal-terms-main p {
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
}

/* Register Otp */
.otp-form {
    position: fixed;
    background-color: #f0f0f0;
    z-index: var(--z-fixed);
    width: 400px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.show-otp {
    right: 0;
}

.resend-otp {
    padding-top: 20px;
    margin-left: 10px;
}

.resend-otp a{
    color: #43302e;
    font-weight: bold;
}

.resend-otp a:hover{
    text-decoration: underline;
}

.title-otp h3{
    font-size: var(--h2-font-size);
    font-weight: 600;
    color: #43302e;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.otp-form p {
   color: gray;
   padding: 0 0 10px 0;
}

.otp-back {
    position: absolute;
    top: 1.25rem;
    left: .9rem;
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1;
}

.otp-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.otp-label {
    font-size: 16px;
    color: gray;
    padding-left: 5px;
}

.otp-input-group {
    margin: 5px 0 20px 0;
}

.input-otp {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.input-otp input:focus {
    border-color: #43302e;
}

.set-otp-button {
    display: flex;
    justify-content: flex-start;
}

.otp-button {
    border: none;
    outline: none;
    background-color: saddlebrown;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    width: 105px;
    height: 55px;
    margin-right: 10px;
}

/* Account Details */
.greetings-credential {
    font-size: var(--h2-font-size);
    margin: var(--mb-3);
    font-weight: 600;
    padding-bottom: 10px;
    color: #43302e;
    text-align: center;
}

/* landing page */
.landing-page {
    margin-top: 180px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 80%;
    background-color: transparent;
    padding: 60px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 0.7s ease-out;
}

.landing-container.show {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Moves to its original position */
}

.text-landing h1 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: -210px;
    margin-bottom: 20px;
    flex: 1;
    text-align: left;
}

.text-landing p {
    color: #e5e4e2;
    text-align: left;
    font-weight: 500;
}

.image-landing img{
    flex: 1;
    width: 400px;
    border-radius: 50%;
    margin-right: 70px;
}


/* Contact us */
.contact_us-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 0.7s ease-out;
}

.contact_us-container.show {
    opacity: 1;
    transform: translateX(0);
}

.contact-box {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #f0f0f0;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.contact-left {
    height: 100%;
    background: url("../.image-cabin/main-asset/8-asset.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

.contact-info {
    text-align: left;
    padding-left: 2px;
    margin-bottom: 5px;
}

.contact-right {
    padding: 25px 40px;
}

.contact-title{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #43302e;
}

.contact-title:after {
    content: '';
    position: absolute;
    left: 19%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 134px;
    border-radius: 2px;
    background: saddlebrown;
}

.field {
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 15px;
    margin-bottom: 22px;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
    min-height: 150px;
}

.contact-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: saddlebrown;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
}

.contact-btn:hover {
    background-color: #964b00;
}

@media  screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-left {
        height: 200px;
    }
}


/* House rules */
.card-section {
    padding-top: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    overflow: hidden;
    background-color: rgba(131, 105, 83, 0.2);
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    color: black;
    padding-top: 15px;
}

.item-content {
    text-align: center;
    flex: 1;
    padding-top: 10px;
}

.content .para {
    line-height: 1.5;
}

.card-title {
    margin: 65px 0 20px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #43302e;
    text-align: center;
}

#downloadButtonRules {
    display: inline-block;
    padding: 12px 24px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 5px;
    border: 2px solid saddlebrown;
    margin-bottom: 10px;
}

#downloadButtonRules:hover {
    background-color: saddlebrown;
    color: white;
}

/* Overview & promos */
.gallery-title {
    padding-top: 2.5rem;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 2.5rem;
    text-align: center;
    color: #43302e;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    gap: 30px;
}

.close-promo {
    position: absolute;
    top: 80px;
    right: 20px;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.gallery-card-cabin{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 650px;
    height: 460px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.400, 1);
    padding: 15px;
    background-image: url('../.image-cabin/main-asset/5-asset.png');
    background-size: cover;
    background-position:center;

}

.gallery-card-event{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 320px;
    height: 460px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.400, 1);
    padding: 15px;
    background-image: url('../.image-cabin/event-setup-previews/setup-preview_1.jpg');
    background-size: cover;
    background-position:center;

}

.gallery-card-promo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 320px;
    height: 460px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.400, 1);
}

.gallery-card-event,
.gallery-card-promo,
.gallery-card-cabin {
    margin-bottom: 2rem;
}

.view-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    top: 0;
}

.gallery-card-promo img {
    width: 100%;
    background-size: cover;
    background-position:center;
    height: 100%;
}

.gallery-content{
    margin-top: 244px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.gallery-content-promo,
.gallery-content .gallery-heading {
    font-weight: 700;
    font-size: 32px;
}

.gallery-content-promo,
.gallery-content .gallery-para {
    line-height: 1.5;
}

.gallery-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(139, 69, 19, 0.5);
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 2px solid saddlebrown;
}

.gallery-btn:hover {
    background-color: saddlebrown;
    box-shadow: 0 10px 20px rgba(139, 69, 19, 0.4);
    transform: translateY(-7px);
}

.gallery-btn:active {
    transform: translateY(-1px);
}

.amenity-line-container {
    display: flex;
    align-items: center;
    width: 85.3%;
    padding-bottom: 3rem;
}

.amenity-line {
    flex-grow: 1;
    height: 2px;
    background-color: saddlebrown;
    margin-left: 280px;
    margin-bottom: 2rem;
}

.cabin-amenity-button {
    background-color: rgba(139, 69, 19, 0.5);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 45px;
    font-size: 16px;
    margin-bottom: 2rem;
    border: 2px solid saddlebrown;
    transition: all 0.3s ease 0s;
}

.cabin-amenity-button:hover {
    background-color: #964b00;
    box-shadow: 0 10px 20px rgba(139, 69, 19, 0.4);
    transform: translateY(-7px);
}



/* Footer */
.footer {
    position: relative;
    overflow: hidden;
    background-color: #555555;
    color: #fff;
    padding: 0.125rem 0;
    margin-top: -3rem;
    text-align: center;
}

.footer_container {
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 1rem;
}

.footer_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0.75rem;
}

.footer_copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: silver;
}

.footer_main-logo {
    height: 40px;
}

/* scroll up */
::-webkit-scrollbar {
    width: .60rem;
    height: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
}

.scroll-up {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background: saddlebrown;
    border-radius: .4rem;
    display: inline-flex;
    padding: .40rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: 4s;
}

.scroll-up:hover {
    opacity: 1;
}

.scroll-up_icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scroll {
    bottom: 3rem;
}

/* DEVICES BREAKPOINTS */

@media screen and (max-width: 1200px) {

    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .home_img {
        height: 300px
    }

}

/* about contents */
.about-container {
    width: 100%;
    opacity: 0;
    transform: translateY(30px) scale(0.95); /* Start slightly below and smaller */
    transition: all 1.2s cubic-bezier(0.5, 0, 0, 1); /* Smooth easing function */
    filter: blur(5px); /* Start slightly blurred */
    perspective: 1000px; /* Adds depth to the animation */
}

.about-container.visible {
    opacity: 1;
    transform: translateY(0) scale(1); /* Return to normal position and size */
    filter: blur(0); /* Remove blur */
}


.about-inner-container {
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 40%;
    margin: 0 auto;
}

.left-content p {
    text-align: justify;
    padding: 0 70px;
    font-size: 1.1rem;
    margin-bottom: 70px;
}

.about-title {
    color: #43302e;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
    margin-top: 7rem;
}


.right-content {
    width: 60%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay-content {
    top: 370px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    color: white;
    align-items: flex-start;
}

.overlay-left {
    width: 50%;
}

.overlay-right {
    width: 40%;
}

.overlay-left p{
    text-align: left;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay-left img {
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.overlay-left img:hover{
    filter: blur(5px);
    transform: scale(1.05);
}

.overlay-left .text-hover {
    position: absolute;
    top: 380px;
    left: 220px;
    transform: translate(-50%, -50%);
    color: silver;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.overlay-left:hover .text-hover {
    opacity: 1;
}

.social-overlay a{
    font-size: 40px;
    color: #8B4513;
}

.facebook i{
    padding: 0 5px 0 560px;
    transition: all 0.3s ease 0s;
}

.facebook i:hover{
    transform: translateY(-7px);
}

.instagram i{
    transition: all 0.3s ease 0s;
}

.instagram i:hover{
    transform: translateY(-7px);
}

.other-company h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border-bottom: 5px solid saddlebrown;
}

.associates-container img{
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 20px 0 0;
}

.house-royale img,
.drizzled img,
.maico img{
    transition: all 0.3s ease 0s;
}

.house-royale img:hover,
.drizzled img:hover,
.maico img:hover{
    transform: translateY(-7px);
}

/* Company Overview */
.company-overview {
    padding: 40px 40px;
    background-color: rgba(131, 105, 83, 0.2);
}

/* feedback section */
.feedback-container {
    margin-bottom: 5rem;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.feedback-container h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.emoji-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 10px 0 10px;
}

.emoji-btn {
    font-size: 1.7rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    opacity: 0.5;
    padding: 5px;
}

.emoji-btn:hover {
    opacity: 1;
    transform: scale(1.2);
}

.emoji-btn.selected {
    opacity: 1;
    transform: scale(1.2);
}

.feedback-text {
    width: 95%;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    resize: vertical;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-weight: 600;
    color: gray;
}

.submit-btn {
    background-color: #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 190px;
}

.submit-btn:hover {
    background-color: #964b00;
}

#selected-value {
    display: none;
}

/* unauthorized book-now */
.login-required-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.login-required-content {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    width: 90%;
    max-width: 400px;
    animation: modalFade 0.3s ease-in;
    display: flex;
    gap: 40px;
}

.close-login-required {
    background-color: #8B4513;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 30px 0 0 105px;
    width: 50%;
    transition: all 0.3s ease 0s;
}

.close-login-required:hover {
    background-color: #964b00;
    transform: translateY(-7px);
}

.close-login-required:active {
    transform: translateY(-1px);
}

.login-required-content h2 {
    margin-bottom: 1rem;
    color: #43302e;
    text-transform: uppercase;
    border-bottom: 4px solid #8b4513;
}

.login-required-content i {
    font-size: 80px;
    color: #8B4513;
    margin-top: 3rem;
}

.login-required-content p {
    color: #666;
}

@keyframes modalFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-login-contents {
    color: red;
    font-size: 12px;
    padding: 0 10px 10px 0;
}


